/* Universal */
body {
  margin: 0;
  background-color: black;
  color: seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

p {
  opacity: 1;
}

a {
  color: seashell;
  text-decoration: underline;
}

nav {
  margin-right: 10px;
}

nav span {
  margin-left: 30px;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

/* Header */
header {
  display:flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  z-index: 2;
}

.logo img {
  height: 50px;
  padding: 10px 10px 9px 10px;
}

/* Main Content */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 69px;
}

/* Top */
.top {
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.banner {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Middle */
.middle {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px
}

.item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 5px;
}

.item img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
}

/* Bottom */
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

.locations {
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 260px;
  width: 280px;
  margin: 5px 20px;
  padding: 10px;
}

/* Footer */
.contact {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}

/* Images */
#mission {
  background-image: url("../images/mission-background.jpg");
}

#locations {
  background-image: url("../images/locations-background.jpg");
}
