/* Images */
#mission {
  background-image: url("../images/mission-background.jpg");
}

#locations {
  background-image: url("../images/locations-background.jpg");
}

/* Universal */

html {
  background-color: black;
  color: seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

body {
  margin: 0;
}
/*
div {
  border: 1px solid white;
} */

a {
  color: seashell;
  text-decoration: underline;
}

nav {
  margin-right: 10px;
}

nav span {
  margin-left: 30px;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

/* Header */
.header {
  display:flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
  padding: 10px 10px 9px 10px;
}

/* Main Content */
div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Top Box */
.box.top {
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.banner.mission {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Middle Box */
.box.middle {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1000px;
  padding-top: 70px;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px
}

.item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 200px;
  width: 300px;
  padding: 5px;
}

.item img {
  display: block;
  height: 200px;
  margin: 10px;
  width: auto;
}

.item span {
  display: block;
}

/* Bottom Box */

/* Footer */
